version: 2
jobs:
  build:
    docker:
      - image: circleci/android:api-26-alpha
    working_directory: ~/MobileAppAutomationTest/AndroidDemo
    steps:
      - checkout
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies

  deploy:
    machine:
        enabled: true
    working_directory: ~/MobileAppAutomationTest/AndroidDemo
    environment:
      HEROKU_APP: "sleepy-refuge-55486"
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            echo "Hi"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: sequential-branch-filter
